$primaryColor: #005CB4;

.center {
  margin: auto;
  width: 93%;
  padding: 2%;
  height: 83%
}

.btnAdd,
.gridHeader button {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  height: 40px;
  width: 40px;
  font-size: 18px;
  color: rgb(74, 72, 72);
}

.search-box {
  border-radius: 6px;
  width: 300px;
  height: 34px;
}

.k-grid-edit-command,
.k-grid-remove-command,
.k-grid-save-command,
.k-grid-cancel-command {
  color: $primaryColor;
  background-color: transparent;
}
