  <kendo-grid [data]="gridView" [resizable]="true" [reorderable]="true" [style.height.%]="100"
    [sortable]="{mode: 'multiple'}" [sort]="state.sort" [pageSize]="state.take" [skip]="state.skip" [pageable]="true"
    [groupable]="groupable" filterable="menu" [filter]="state.filter" enabled="groupable" [group]="state.group"
    (dataStateChange)="dataStateChange($event)" (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
    (save)="saveHandler($event)" (remove)="removeHandler($event)" (add)="addHandler($event)">


    <ng-template kendoGridToolbarTemplate>
      <div>
        <button matTooltip="Nuevo puesto" class="btnAdd">
          <fa-icon [icon]="icAddPuesto"></fa-icon>
        </button>
      </div>

      <kendo-grid-spacer></kendo-grid-spacer>

      <input class="search-box" placeholder="Search in all columns..." kendoTextBox
        (input)="onFilter($event.target.value)" *ngIf="buscador == true" />

      <div class="gridHeader">
        <div>
          <button matTooltip="Buscar puesto" (click)="buscador = !buscador">
            <fa-icon [icon]="icSearch"></fa-icon>
          </button>
        </div>

        <div>
          <button matTooltip="Agrupar columnas" (click)="isGroupable()">
            <fa-icon [icon]="icAgruparCol"></fa-icon>
          </button>
        </div>

        <button matTooltip="Exportar a excel" kendoGridExcelCommand>
          <fa-icon [icon]="icFileExp"></fa-icon>
        </button>
        <kendo-grid-excel fileName="Puestos.xlsx"></kendo-grid-excel>

        <div>
          <kendo-grid-column-chooser></kendo-grid-column-chooser>
        </div>
      </div>
      <button kendoGridAddCommand>Add new</button>

    </ng-template>

    <kendo-grid-column media="(max-width: 600px)" title="Puestos">
      <ng-template kendoGridCellTemplate let-dataItem>
        <table>
          <tr>
            <td>{{ dataItem.puestoId }}</td>
            <td colspan="3"> {{ dataItem.nombre }} </td>
          </tr>
          <tr>
            <td colspan="4">
              <!-- Aqui en lugar de .grupo1Id (Solo el primero) ha de ir ".tipoVinculo.nombre"-->
              {{ dataItem.grupo1Id }}

              {{ dataItem.grupo1Id }}

              {{ dataItem.grupo2Id }}
            </td>
          </tr>
          <tr>
            <td colspan="4" id="tdAdscrip">
              <!-- Aqui en lugar de .nombre ha de ir ".adscripcion.nombre"-->
              {{ dataItem.nombre }}
            </td>
          </tr>
        </table>
      </ng-template>
    </kendo-grid-column>


    <kendo-grid-column field="id" title="ID" width="90" media="(min-width: 600px)" editor="numeric">
    </kendo-grid-column>

    <kendo-grid-column field="puesto.puestoId" title="Código" width="100" [minResizableWidth]="90" filter='numeric'
      editor="numeric" media="(min-width: 600px)">>
    </kendo-grid-column>

    <kendo-grid-column field="adscripcion.nombre" editor="text" title="Price"></kendo-grid-column>
    <kendo-grid-command-column title="command" width="220" media="(min-width: 600px)">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <!-- edit command directive, will be visible when not in edit mode -->
        <button kendoGridEditCommand [primary]="true">Edit</button>
        <!-- remove command directive, will be visible when not in edit mode -->
        <button kendoGridRemoveCommand>Remove</button>
        <!-- save command directive, will be visible when in edit mode -->
        <button kendoGridSaveCommand>{{ isNew ? 'Add' : 'Update' }}</button>
        <!-- cancel command directive, will be visible when in edit mode -->
        <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
      </ng-template>
    </kendo-grid-command-column>


    <!--
    <kendo-grid-column field="puestoIdOficial" title="Código oficial" width="150" filter='numeric'
      media="(min-width: 600px)">>
    </kendo-grid-column>

    <kendo-grid-column field="puestoTipo.nombreCompleto" title="Puesto tipo" media="(min-width: 600px)">
    </kendo-grid-column>

    <kendo-grid-column field="nombre" title="Denominación" width="160" media="(min-width: 600px)">
    </kendo-grid-column>

    <kendo-grid-column field="tipoVinculo.nombre" title="TP" width="80" media="(min-width: 600px)">
    </kendo-grid-column>

    <kendo-grid-column field="catalogo.nombre" title="Catálogo" width="110" media="(min-width: 600px)">
    </kendo-grid-column>

    <kendo-grid-column field="adscripcion.nombre" title="Adscripción administración" width="80"
      media="(min-width: 600px)">
    </kendo-grid-column>

    <kendo-grid-column field="grupo1Id" title="G1" width="80" media="(min-width: 600px)">
    </kendo-grid-column>
    <kendo-grid-column field="grupo2Id" title="G2" width="80" media="(min-width: 600px)">
    </kendo-grid-column>

    <kendo-grid-column field="escala.nombre" title="Escala" width="80" media="(min-width: 600px)">
    </kendo-grid-column>

    <kendo-grid-column field="cuerpo.nombre" title="Cuerpo" width="80" media="(min-width: 600px)">
    </kendo-grid-column>
    <kendo-grid-column field="formaProvision.nombre" title="Forma provisión" width="80" media="(min-width: 600px)">
    </kendo-grid-column>
    <kendo-grid-column field="grupo1Importe" title="Grupo (€)" width="80" filter='numeric' media="(min-width: 600px)">
    </kendo-grid-column>

    <kendo-grid-column field="complementoDestinoId" title="ND" width="80" filter='numeric' media="(min-width: 600px)">
    </kendo-grid-column>

    <kendo-grid-column field="complementoDestinoImporte" title="ND (€)" width="80" filter='numeric'
      media="(min-width: 600px)">
    </kendo-grid-column>

    <kendo-grid-column field="complementoEspecificoId" title="CE" width="80" filter='numeric'
      media="(min-width: 600px)">
    </kendo-grid-column>

    <kendo-grid-column field="complementoEspecificoImporte" title="CE (€)" width="80" filter='numeric'
      media="(min-width: 600px)">
    </kendo-grid-column>

    <kendo-grid-column field="dotaciones" title="Dot" width="80" filter='numeric' media="(min-width: 600px)">
    </kendo-grid-column>
    <kendo-grid-column field="ocupantes" title="Ocupantes" width="80" media="(min-width: 600px)">
    </kendo-grid-column>

    <kendo-grid-column field="vacantes" title="Vacantes" width="80" media="(min-width: 600px)">
    </kendo-grid-column>

    <kendo-grid-column field="dotado" title="Dotado" width="80" filter="boolean" media="(min-width: 600px)">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.Dotado" />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="singularizado" title="PS" width="80" filter="boolean" media="(min-width: 600px)">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.singularizado" />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="reservadoNacionales" title="RN" width="80" filter="boolean" media="(min-width: 600px)">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.reservadoNacionales" />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="disponibilidadPlena" title="PD" width="80" filter="boolean" media="(min-width: 600px)">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.disponibilidadPlena" />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="personaDeConfianza" title="PC" width="80" filter=" boolean" media="(min-width: 600px)">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.PC" />
      </ng-template>
    </kendo-grid-column> -->

  </kendo-grid>
