<div class="center">
  <kendo-grid [data]="gridView" [resizable]="true" [reorderable]="true" [height]="500" [sortable]="{mode: 'multiple'}"
    [sort]="state.sort" [pageSize]="state.take" [skip]="state.skip" [pageable]="true" [groupable]="groupable"
    filterable="menu" [filter]="state.filter" enabled="groupable" [group]="state.group"
    (dataStateChange)="dataStateChange($event)">

    <ng-template kendoGridToolbarTemplate>

      <div>
        <button matTooltip="Nuevo puesto" #newPuesto (click)="togglePopup(newPuesto, newPuestoTemp)">
          <fa-icon [icon]="icAddPuesto"></fa-icon>
        </button>

        <ng-template #newPuestoTemp>
          <div> Hola0</div>
          <div> Hola1</div>
        </ng-template>
      </div>

      <kendo-grid-spacer></kendo-grid-spacer>
      <input class="search-box" placeholder="Search in all columns..." kendoTextBox (input)="dataStateChanges($event)"
        *ngIf="buscador == true" />

      <div class="gridHeader">
        <div>
          <button matTooltip="Buscar puesto" (click)="buscador = !buscador">
            <fa-icon [icon]="icSearch"></fa-icon>
          </button>
        </div>

        <div>
          <button matTooltip="Agrupar columnas" (click)="isGroupable()">
            <fa-icon [icon]="icAgruparCol"></fa-icon>
          </button>
        </div>

        <button matTooltip="Exportar a excel" kendoGridExcelCommand>
          <fa-icon [icon]="icFileExp"></fa-icon>
        </button>
        <kendo-grid-excel fileName="Puestos.xlsx"></kendo-grid-excel>

        <div>
          <button #showCol (click)="togglePopup(showCol, showColTemp)" matTooltip="Ocultar columnas">
            <fa-icon [icon]="icShowCol"></fa-icon>
          </button>

          <ng-template #showColTemp>
            <div *ngFor="let column of columns" class="col-xs-12 col-md-3 example-col">
              <input type="checkbox" id="{{ column }}" class="k-checkbox" [disabled]="isDisabled(column)"
                [checked]="!isHidden(column)" (change)="hideColumn(column)" />
              <label class="k-checkbox-label" for="{{ column }}">{{ column }}</label>
            </div>
          </ng-template>
        </div>
      </div>

    </ng-template>

    <kendo-grid-column field="puesto.id" title="ID" width="90" *ngIf="!isHidden('ID')">
    </kendo-grid-column>
    <kendo-grid-column field="puesto.puestoId" title="Código" width="100" [minResizableWidth]="90"
      *ngIf="!isHidden('Código')">
    </kendo-grid-column>
    <kendo-grid-column field="puestoIdOficial" title="Código oficial" width="150" *ngIf="!isHidden('Código oficial')">
    </kendo-grid-column>
    <kendo-grid-column field="puestoTipo.nombreCompleto" title="Puesto tipo" *ngIf="!isHidden('Puesto tipo')">
    </kendo-grid-column>
    <kendo-grid-column field="puestoTipo.nombre" title="Denominación" width="160" *ngIf="!isHidden('Denominación')">
    </kendo-grid-column>
    <kendo-grid-column field="tipoVinculo.nombre" title="TP" width="80" *ngIf="!isHidden('TP')">
    </kendo-grid-column>
    <kendo-grid-column field="catalogo.nombre" title="Catálogo" width="110" *ngIf="!isHidden('Catálogo')">
    </kendo-grid-column>
    <kendo-grid-column field="adscripción.nombre" title="Adscripción administración" width="80"
      *ngIf="!isHidden('Adscripción administración')">
    </kendo-grid-column>
    <kendo-grid-column field="grupo1Id" title="G1" width="80" *ngIf="!isHidden('G1')">
    </kendo-grid-column>
    <kendo-grid-column field="grupo2Id" title="G2" width="80" *ngIf="!isHidden('G2')">
    </kendo-grid-column>
    <kendo-grid-column field="escala.nombre" title="Escala" width="80" *ngIf="!isHidden('Escala')">
    </kendo-grid-column>
    <kendo-grid-column field="cuerpo.nombre" title="Cuerpo" width="80" *ngIf="!isHidden('Cuerpo')">
    </kendo-grid-column>
    <kendo-grid-column field="formaProvision.nombre" title="Forma provisión" width="80"
      *ngIf="!isHidden('Forma provisión')">
    </kendo-grid-column>
    <kendo-grid-column field="grupo1Importe" title="Grupo (€)" width="80" *ngIf="!isHidden('Grupo (€)')">
    </kendo-grid-column>
    <kendo-grid-column field="complementoDestinoId" title="ND" width="80" *ngIf="!isHidden('ND')">
    </kendo-grid-column>
    <kendo-grid-column field="complementoDestinoImporte" title="ND (€)" width="80" *ngIf="!isHidden('ND (€)')">
    </kendo-grid-column>
    <kendo-grid-column field="complementoEspecificoId" title="CE" width="80" *ngIf="!isHidden('CE')">
    </kendo-grid-column>
    <kendo-grid-column field="complementoEspecificoImporte" title="CE (€)" width="80" *ngIf="!isHidden('CE (€)')">
    </kendo-grid-column>
    <kendo-grid-column field="dotaciones" title="Dot" width="80" *ngIf="!isHidden('Dot')">
    </kendo-grid-column>
    <kendo-grid-column field="ocupantes" title="Ocupantes" width="80" *ngIf="!isHidden('Ocupantes')">
    </kendo-grid-column>
    <kendo-grid-column field="vacantes" title="Vacantes" width="80" *ngIf="!isHidden('Vacantes')">
    </kendo-grid-column>
    <kendo-grid-column field="dotado" title="Dotado" width="80" *ngIf="!isHidden('Dotado')">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.Dotado" />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="singularizado" title="PS" width="80" *ngIf="!isHidden('PS')">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.PS" />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="reservadoNacionales" title="RN" width="80" *ngIf="!isHidden('RN')">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.RN" />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="disponibilidadPlena" title="PD" width="80" *ngIf="!isHidden('PD')">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.PD" />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="personaDeConfianza" title="PC" width="80" *ngIf="!isHidden('PC')">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.PC" />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="" title="Titulaciones" width="80" *ngIf="!isHidden('Titulaciones')">
    </kendo-grid-column>

  </kendo-grid>
</div>
