$primaryColor: #005cb4;
$primaryColorHover: #479ef025;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//CellColor
.lila .codeColumn {
  background-color: rgba(139, 0, 139, .5);
  color: #ffffff;
}

.cyan .codeColumn {
  background-color: rgba(0, 150, 136, .5);
  color: #ffffff;
}

.colorsito .codeColumn {
  background-color: rgba(0, 15, 150, 0.5);
  color: #ffffff;
}

//Paginador

.k-pager-numbers .k-link.k-state-selected {
  border-color: $primaryColorHover;
  color: $primaryColor;
  background-color: $primaryColorHover;
}

.k-pager-numbers .k-link {
  color: black;
}

.k-pager-numbers .k-link:hover {
  color: $primaryColor;
  background-color: $primaryColorHover;
}

//Boton column chooser
.k-button .k-icon,
.k-button .k-image,
.k-button .k-sprite {
  margin-top: 10px;
  height: 40px;
  width: 40px;
  font-size: 18px;
  color: rgb(74, 72, 72);
}

//boton APLICAR column chooser
.k-button.k-primary {
  border-color: $primaryColor;
  background-color: $primaryColor;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04));

  &:hover {
    border-color: $primaryColor;
    background-color: $primaryColor;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04));
  }
}

//Botones column chooser
.k-action-buttons .k-button:not(.k-primary),
.k-button.k-primary {
  border-radius: 2px;
  width: 110px;
  height: 35px;
  font-weight: normal;
}

//checkboxs
.k-checkbox:checked,
.k-checkbox.k-checked {
  border-color: $primaryColor;
  color: #ffffff;
  background-color: $primaryColor;
}

//row hover selected
.k-grid td.k-state-selected,
.k-grid tr.k-state-selected>td {
  background-color: $primaryColorHover !important;
}

//Menu sorting selected
.k-columnmenu-item.k-state-selected {
  color: #ffffff;
  background-color: $primaryColor;
}

//Menu Filter selected
.k-grid-header .k-grid-filter.k-state-active,
.k-grid-header .k-header-column-menu.k-state-active,
.k-grid-header .k-hierarchy-cell .k-icon.k-state-active {
  color: #ffffff;
  background-color: $primaryColor;
}

//Flecha sorting
.k-grid-header .k-i-sort-asc-sm,
.k-grid-header .k-i-sort-desc-sm,
.k-grid-header .k-sort-order {
  color: $primaryColor;
}
